.container
  = form_for :session, url: login_path, html: {class: "form-signin"} do |f|
    - flash.each do |key, value|
      = "<div class='alert alert-#{key}' role='alert'>#{value}</div>".html_safe
    %h2.form-signin-heading Log In
    = f.label :user_name, class: "sr-only"
    = f.text_field :user_name, class: "form-control", placeholder: "Username", required: true, autofocus: true
    = f.label :password, class: "sr-only"
    = f.password_field :password, class: "form-control", placeholder: "Password", required: true, autofocus: true
    = f.submit "Log In", class: "btn btn-lg btn-primary btn-block"
